@import "tailwindcss";

@keyframes popup-bar {
  from { width: 100%; }
  to { width: 0%; }
}
.animate-popup-bar {
  animation: popup-bar 3s linear;
}

@keyframes popup-in {
  from { transform: translateY(-50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
.animate-popup-in {
  animation: popup-in 0.3s ease-out;
}

@keyframes popup-out {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(-50px); opacity: 0; }
}
.animate-popup-out {
  animation: popup-out 0.3s ease-in 2.7s;
}